{% extends 'base.html' %}
{% block title %}Reset password{% endblock %}

      {% block contents %}
      <!-- Bootstrapのグリッドシステム-->
      <div class="container">
        <!-- 行を配置 -->
        <div class="row">
          <!-- 列の上下パディングはpy-4-->
          <div class="col py-4">
            <hr>
            <h3>パスワードをリセットしますか?</h3>
            <p>
              登録済みのメールアドレスを入力してください。 <br>
              パスワードリセットのリンクを記載したメールをすぐにお届けします。
            </p>
            <br>
            <form action="" method="POST" class="text-center">
              {% csrf_token %}
              {{form}}
              <input type="submit" value="メールを受け取る" /><br>
            </form>
            <br>
            <a href="{% url 'note:index' %}">Share Note</a>
            <hr>
          </dv>
        </dv>
      </dv>
      {% endblock %}
